<div ng-show="1" style="padding-top: 70px;">
		<h3 class="text-center">LogIn/LogOut</h3>
		<div class="alert alert-success" role="alert" id="ingresoCorrecto" style="display:none">
			<h3 class="text-center">Ingeso Correcto</h3>
		</div>

		<form ng-submit="setLoginForm()" ng-hide="keyShow">
			<div class="form-group" style="padding-top: 35px;">

				<div class="col-md-4 col-md-offset-4">
					<div class="row">
						<ls-datalist class="col-md-12" placeholder="Escriba aqui su CDE" lsmodel="formulario" value="Cod_Pos" option="Tienda">
						</ls-datalist>
					</div>
				</div>
				
				<div ng-show="1">
					<div class="col-md-4 col-md-offset-4" style="margin-top: 20px">
						<input type="email" ng-model="formulario.user" class="form-control input-lg input-lg text-center" placeholder="Email Usuario" required>
					</div>
			
					<div class="col-md-4 col-md-offset-4" style="margin-top: 20px">
						<input type="password" placeholder="Contraseña" ng-model="formulario.pass" class="form-control input-lg input-lg text-center" ng-model="password" required>
					</div>
				</div>
				
				<div class="col-md-4 col-md-offset-4" style="margin-top: 15px">
					<div class="row">
						<div class="col-md-4 col-md-offset-2">
						  <label>
						    <input type="radio" required name="optionsRadios" id="optionsRadios1" ng-model="formulario.inout" value="in" checked>
						    Entrada
						  </label>
						</div>
						<div class="col-md-6">
						  <label>
						    <input type="radio" required name="optionsRadios" id="optionsRadios2" ng-model="formulario.inout" value="out">
						    Salida
						  </label>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-md-offset-4" style="margin-top: 10px">
					<button ng-disabled="disableBotonSubmit" type="submit" class="btn btn-lg btn-block btn-success">
						<span ng-hide="disableBotonSubmit">Ingresar</span>
						<i ng-show="disableBotonSubmit" class="fa fa-spinner fa-spin"></i>
					</button>
				</div>
				
			</div>
			<div class="alert alert-danger col-md-4 col-md-offset-4" ng-show="alert.cde" role="alert">Selecciona un CDE</div>
			<div class="alert alert-danger col-md-4 col-md-offset-4" ng-show="alert.datosMal" role="alert">
				<strong>Datos ingresados Incorrectos.</strong>
			</div>
			<div class="col-md-4 col-md-offset-6" style="margin-top: 10px">
				<a href="/#/cambiarpass">Cambiar Contraseña</a>
			</div>
			<div class="alert alert-danger col-md-4 col-md-offset-4" ng-show="alert.firsPass" role="alert">
				<strong>Cambiar tu contraseña:</strong> Para realizar tu primer logIn necesitas cambiar la contraseña por defecto, haz clic en el enlace: <a class="alert-link" href="/#/cambiarpass">Cambiar Contraseña</a>. 
			</div>
			
		</form>

		<form ng-submit="setLoginKey()" ng-show="keyShow">
			<div ng-show="1">
				<div class="col-md-4 col-md-offset-4" style="margin-top: 20px">
					<input type="type" placeholder="Clave de SMS" ng-model="keyModel.key" class="form-control input-lg text-center" required>
				</div>

				<div class="col-md-4 col-md-offset-4" style="margin-top: 10px">
					<button ng-disabled="disableBotonSubmitKey" type="submit" class="btn btn-lg btn-block btn-success">
						<span ng-hide="disableBotonSubmitKey">Validar Clave</span>
						<i ng-show="disableBotonSubmitKey" class="fa fa-spinner fa-spin"></i>
					</button>
					<div class="alert alert-danger" ng-show="alert.key" role="alert" style="margin: 2%">
						Clave incorrecta
					</div>
					<div style="padding: 2%" class="text-right">
						<a href="" ng-click="resetForms()"	class="text-danger"><i class="fa fa-times"></i> Cancelar</a>
					</div>
				</div>
			</div>
		</form>

	</div>