<nav-bar></nav-bar>

<h1>Registro</h1>

<form ng-submit="getRegistro()" class="row">
	<div class="col-md-4 col-xs-8">
		<input type="date" ng-model="fecha" required placeholder="Fecha. ej: 2015-12-06" class="form-control input-lg input-lg">
	</div>
	<div class="col-md-2 col-xs-2">
		<button type="submit" class="btn btn-primary btn-lg">Ver registros</button>
	</div>
	<div class="col-md-6 col-xs-6">
		<input type="text" ng-model="searchText" class="form-control input-lg btn-lg" id="" placeholder="Busca por cédula, email, rol... etc">
	</div>
</form>

	
<table class="table table-striped table-hover table-responsive panel panel-default" style="margin-top: 10px;">
	<thead>
		<tr>
			<th>Cédula</th>
			<th>Email</th>
			<th>Fecha de registro</th>
			<th>Rol</th>
			<th>Estado</th>
			<th>CDE de préstamo</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="datoRegistro in datosRegistro | filter:searchText">
			<td>{{datoRegistro.cedula}}</td>
			<td>{{datoRegistro.email}}</td>
			<td>{{datoRegistro.log | date:'yyyy-MM-dd HH:mm:ss'}}</td>
			<td>{{datoRegistro.rol}}</td>
			<td>{{datoRegistro.in_out}}</td>
			<td>{{datoRegistro.cde_prestamo || 'Propio'}}</td>
		</tr>
	</tbody>
</table>
<button class="btn btn-danger pull-right" ng-hide="cerrarSesionAsesoresBtn" ng-disabled="cerrarSesionAsesoresBtn" ng-click="cerrarSesionAsesores()">Cerrar cesión de asesores</button>

<div class="alert alert-success" role="alert" id="ingresoCorrecto" style="display:none;margin-top: 20px;">
	<h3 class="text-center">Realizado Correctamente</h3>
</div>